.loading-bg{
    position: fixed;
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
    z-index: 999;
    .loading-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100vh;
        @include T(){
            width: 80%;
            margin: 0 auto;
            overflow: hidden;
        }
        .loading-img {
            display: flex;
            transform:rotate(5deg);
        }
        .img-2 {
            transform:rotate(-1deg);
        }
    }
    .loading-logo{
            width: 200px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            animation: fly-out 2s linear 1s 1;
            @include T() {
                width: 350px;
            }
    }
}

.loading-griddy{
    border: 2px solid #fff;
    width: 120px;
    height: 120px;
    animation: marquee 2s linear infinite, fadeOut 1.3s 0.7s forwards;
    @include T(){
        width: 150px;
        height: 150px;
    }

    img{
        width: 100%;
        height: 100%;
        width: 116px;
        height: 116px;
        @include T(){
            width: 146px;
            height: 146px;
        }
    }
}

.griddy-2{
    animation: marquee-re 2s linear infinite, fadeOut 1.3s 0.7s forwards;
}

@keyframes marquee {
    0% {
    transform: translateX(0);
}
    100% {
    transform: translateX(-100%);
}
}
@keyframes marquee-re {
    0% {
    transform: translateX(-100%);
}
    100% {
    transform: translateX(0);
}
}
@keyframes fly-out {
    0% {
        transform: translate(-50%, -50%) scale(1); 
    }
    100% {
        transform: translate(-50%, -450%) scale(0);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}